@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --fg-color: #e4dcdc;
  --bg-color: #191818;

  --dark-accent: #242424;
  --light-accent: #2869e0;
  --error-red: #ca2929;

  color: var(--fg-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}